{% extends 'library/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row justify-content-center  form-container mr-auto ">
    <p class="form-title">Add an Account</p>
  </div>
  <hr />
  <div class="row justify-content-center">
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <div class=" form-container">
        <div class="row">
          <div class="col-6">
            {{user_form.first_name|as_crispy_field}}
          </div>
          <div class="col-6">
            {{user_form.last_name|as_crispy_field}}
          </div>
        </div>
        {{user_form.email|as_crispy_field}}
        {{user_form.username|as_crispy_field}}
        {{user_form.password1|as_crispy_field}}
        {{user_form.password2|as_crispy_field}}
        <hr />
        <div class="row justify-content-center">
          <button class="btn btn-danger" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
