{% extends 'library/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col">
      <div class="card card-body">
        <form method="get">
          {{myFilter.form|crispy}}
          <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  <div class="row justify-content-center container" style="margin-left:3px;">
    {%if issue_list%}
    <table class="table table-hover">
    <thead class="grey lighten-2">
        <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name</th>
            <th scope="col">Book name</th>
            <th scope="col">Entry date</th>
            <th scope="col">Expiry date</th>
            <th scope="col">Fine</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
          {% for item in issue_list %}
        <tr>
          <td class="count"></td>
            <td>{{item.issue_by.first_name}}&nbsp{{item.issue_by.last_name}}</td>
            <td>{{item.issue_book.title}}</td>
            <td >{{item.entry_date}}</td>
            <td class="date">{{item.expiry_date}}</td>
            <td>Rs&nbsp{{item.get_fine}}</td>
            <td ><a href="returnbooks/{{item.id}}"><button class="btn btn-secondary btn-sm">Return</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<div class="alert alert-dark mt-2 col-5 mr-auto ml-auto" role="alert">
    No lists for given query
</div>
{%endif%}
  </div>
</div>
<script>
    let counter=1;
    document.querySelectorAll('.count').forEach(function(item)
    {
      item.innerHTML=counter;
      getcount();
    })
  function getcount()
  {
      return ++counter;
  }
  document.querySelectorAll('.fine').forEach(function(item)
  {
    item.innerHTML="fine";
  })
</script>
{% endblock %}
